<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
    http://www.springframework.org/schema/beans/spring-beans.xsd 
    http://www.springframework.org/schema/context 
    http://www.springframework.org/schema/context/spring-context.xsd">


	<!-- services -->
	<context:annotation-config />
	<bean class="com.springautowire.City" name="city">
		<property name="cityName">
			<value>"bangalore"</value>
		</property>
		<property name="cityRadius">
			<value>20</value>
</property> 
	</bean>
	
<bean class="com.springautowire.Address" name="adr">
	<property name="streetName">
			<value>"BTM"</value>
		</property>
		<property name="houseName">
			<value>"Ns palya"</value>
</property>
</bean>
	

</beans>